body {
    --blue: #8855ff;
}

.menu .box {
    width: 200px;
    height: 80px;
    border-radius: 50px;
    background: var(--blue);
    cursor: pointer;
}

.menu li {
    color: #3e3939;
    display: block;
    transform-origin: -20px 50%;
    font-weight: bold;
    font-size: 48px;
    padding: 10px;
    cursor: pointer;
    will-change: transform, opacity, filter;
}

.menu ul,
li {
    list-style: none;
    margin: 0;
}

.airpointwindow {
    width: 80%;
    height: 100%;
    background: white;
    /*border-radius: 2px;*/
    /*box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),*/
    /*0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),*/
    /*0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);*/
    display: flex;
    flex-direction: column;
}

.airpointwindow nav {
    background: #fdfdfd;
    padding: 5px 5px 0;
    /*border-radius: 10px;*/
    /*border-bottom-left-radius: 0;*/
    /*border-bottom-right-radius: 0;*/
    border-bottom: 1px solid #eeeeee;
    height: 50px;
}

.airpointwindow .tabs {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 100%;
}

.airpointwindow nav ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 30px;
}


.airpointwindow .switch {
    width: 80px;
    height: 40px;
    background-color:rgb(42, 229, 220);
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    padding: 7px;
    cursor: pointer;
}

.airpointwindow .switch[data-isOn="true"] {
    justify-content: flex-end;
}

.airpointwindow .handle {
    width: 40px;
    height: 25px;
    background-color: var(--accent);
    border-radius: 40px;
}


.airpointwindow nav ul {
    display: flex;
    width: 100%;
}

.airpointwindow nav li {
    border-radius: 10px 10px 0 0;
    width: 100%;
    padding: 10px 15px;
    position: relative;
    background: white;
    cursor: pointer;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    min-width: 0;
    position: relative;
    user-select: none;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.airpointwindow nav .underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 3px;
    background: var(--blue);
}

.airpointwindow nav li.selected {
    background: #eee;
}

.airpointwindow  li button {
    width: 20px;
    height: 20px;
    border: 0;
    background: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: #000;
    margin-left: 10px;
    cursor: pointer;
    flex-shrink: 0;
}